header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    color: #fff;
  }
  
  .logo img {
    width: 120px;
  }

  .logo{
    background-color: #000;
  }
