
<body>

  <div class="h2">
    <h2>Galeria</h2>
  </div>
  

    <div class="gallery">
      <img src="..\assets\black.jpg" alt="Imagem 1">
      <img src="..\assets\black.jpg" alt="Imagem 2">
      <img src="..\assets\black.jpg" alt="Imagem 3">
      <img src="..\assets\black.jpg" alt="Imagem 4">
      <img src="..\assets\black.jpg" alt="Imagem 5">
      <img src="..\assets\black.jpg" alt="Imagem 6">
      <img src="..\assets\black.jpg" alt="Imagem 7">
      <img src="..\assets\black.jpg" alt="Imagem 8">
      <img src="..\assets\black.jpg" alt="Imagem 9">
      <img src="..\assets\black.jpg" alt="Imagem 10">
      <img src="..\assets\black.jpg" alt="Imagem 11">
      <img src="..\assets\black.jpg" alt="Imagem 12">
    </div>
  </body>