
.font2{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}

  figure{
    display: grid;
    grid-template: 1fr / 1fr "stack";
  }

  figure > * {
    grid-area: stack;
  }

  figure > img{
    width: 10rem;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  figure > figcaption{
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms,  visibility 0ms 400ms;
  }

  figure:hover > figcaption{
    opacity: 1;
    visibility: visible;
    transition: opacity 400ms;
  }

  body {
    display: block;
    grid-template-rows: 300px minmax(0, 1fr);
  }

