header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #fff;
}

.logo img {
  width: 120px;
}
.logo{
  background-color: #000;
}

.font2 img{
  width: 40%;
}

.font2{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}

  figure{
    display: grid;
    grid-template: 1fr / 1fr "stack";
  }

  figure > * {
    grid-area: stack;
  }

  figure > img{
    width: 10rem;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  figure > figcaption{
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms,  visibility 0ms 400ms;
  }

  figure:hover > figcaption{
    opacity: 1;
    visibility: visible;
    transition: opacity 400ms;
  }

.reveal{
  position: relative;
  transform: translateY(144px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}