<!-- 
 <body>


    <header>
      <div class="logo">
        <img src="assets\black.jpg" alt="BlackList">
      </div>

    <app-nav-bar></app-nav-bar>

    </header>
    
    <div class="font2">
      <img src="assets\black.jpg" alt="">
      <div class="font">
        <h1>INFO</h1>
      </div>
    </div>


    <hr>


    <app-car></app-car> 
      
     
      
      <figure>
        <img src="assets\black.jpg" alt="">
        <figcaption>
          BlackList
        </figcaption>
      </figure>



<footer>
</footer>
       
</body>  -->

<body>
<section>
  <div class="container">
    <img src="assets\black.jpg" alt="">
    <app-nav-bar></app-nav-bar>
    
  </div>
</section>

<section>
    <div class="container reveal">
      <img src="assets\black.jpg" alt="">
      <p>[Text]</p>
    </div>
</section>

<section>
  <div class="container reveal">
    <img src="assets\black.jpg" alt="">
    <p>[Text]</p>
  </div>
</section>

</body>
