.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s all ease;
    grid-row: 2 / 3; /* ocupa a segunda linha */
    grid-column: 1 / -1; /* ocupa todas as colunas */
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  
  .container{
      
      /* background-image: url('src/assets/black.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; */

      background-color: #fff;
    
      height: 350px;
      grid-row: 1 / 2; /* ocupa a primeira linha */
      grid-column: 1 / -1; /* ocupa todas as colunas */
      padding: 80px;
      margin-bottom: 20vh;
      padding-right: 0px;
      display: flex; 
      flex-direction: row; 
      justify-content: space-between;
    }
  
    .container img{
      width: 150px;
      height: 40%;
      padding-top: 2px;
      padding-left: 10px;
  
    }

    .container img1{
        width: 300px;
      }